.alert {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #333;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.alert-icon-danger {
  color: #721c24;
}

.alert-message {
  display: inline-block;
  vertical-align: middle;
}